.login {
  width: 100%;
  height: 100vh;

  a {
    text-decoration: none;
    text-align: right;
    width: 100%;
    color: #fff;
    display: block;
  }

  label {
    color: white !important;
    font-size: 15px !important;
  }

  .error_message {
    width: 100%;
    height: 40px;
    background: red;
    text-align: center;
    color: white;
    font-size: 15px;
  }

  .signup-btn {
    font-size: 18px !important;
    font-weight: 800 !important;
    text-decoration: none;
  }

  .btn-wrapper {
    width: 100%;
    display: block;
    text-align: end;
    height: auto;

    button {
      width: 120px;
      height: 50px;
      color: white;
      position: relative;
      right: 10px;
      background: #9b4830;
      margin: 0 !important;
      font-size: 18px !important;
      font-weight: 800 !important;
    }
  }

  .background-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;

    .alignment {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0;
      justify-content: center;
      border: 1px solid transparent;
      border-radius: 20px;
      padding: 11px;
      font-family: "Charis SIL", serif;
      width: 50%;
    }
  }

  .formControl .MuiFormControl-root {
    width: 100%;
  }

  .MuiInputBase-formControl {
    background: white !important;
    color: black !important;
  }

  .MuiInputLabel-root {
    color: black !important;
  }
}
