.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: linear-gradient(145deg, #eccb8f, #e2d560);
}

.form-ct {
  max-width: 670px;
  min-width: 700px;
  min-height: 500px;
  border: 1px solid darkred;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1;
  background: radial-gradient(orange, transparent);

  .grid-item:nth-child(2) {
    background: repeating-linear-gradient(45deg, #a89c32, #ffad18 154px);
  }

  .banner {
    color: darkred !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    p {
      font-size: 40px;
      text-align: center;
      padding: 10px;
    }

    span {
      padding: 4px;
      box-sizing: border-box;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }

    button {
      text-align: center;
      width: 80%;
      height: 20px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }
  }

  .login-wrapper {
    width: 60%;
    margin: 0 auto;
    height: 90%;
    position: relative;

    .input-box {
      width: 90%;
      height: auto;
      position: relative;
      margin: 0 auto;

      a {
        width: 100%;
        height: 10px;
        position: relative;
      }

      button {
        position: relative;
        width: 100%;
        display: block;
        padding: 10px;
        font-size: 15px;
        margin: 20px auto;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .form-ct {
    grid-template-columns: 1fr;
    min-width: auto;

    .login-wrapper {
      width: 75%;
    }

    .banner {
      display: none;
    }
  }
}
