
.homepage{
  width: 100%;
  height:100%;
  // min-height: 600px;


.MuiButton-root{
  margin:0px 0px!important;
  font-size: 20px!important;
    font-weight: 800!important;
}
.background-image{
  background-size: cover;
  background-position: center;
  width:100%;

  height: 100%;
  .blackness{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    display:flex;
    flex-wrap:wrap;
  align-items: center;
  justify-content: center;

    // position: absolute;
    // z-index: +3;
  }
  .get-started{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
    justify-content: center;
    background: #0000006e;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 11px;
    font-family: "Charis SIL", serif;
  }
  span{
    font-family: 'Charis SIL', serif;
    font-weight: 700;
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    color: white;
  }

}
}

