@import "../node_modules/bootstrap/scss/bootstrap";
// Functions first
@import "../node_modules/bootstrap/scss/functions";
// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@font-face {
  font-family: "MAIN_THEME";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/CharisSIL-Bold.ttf");
  font-display: swap;
}

$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

.overlay-dark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

html,
body,
p,
span,
h1,
h2,
h3,
h4,
h5,
div {
  // font-family: "MAIN_THEME";
  font-family: "Pacifico", cursive;
  font-weight: bold;
  color: rgba(10, 191, 38, 1) !important;
}

.hover-text {
  &:hover,
  &:focus {
    text-shadow: #84ff00 2px 0px 10px !important;
    box-shadow: #84ff00 1px 0 8px;
  }
}

.page {
  padding-top: 120px;
  width: 100%;
  height: 100%;
  min-height: 600px;
  position: relative;
}

.page-title {
  margin: 10px;
  text-align: center;
  width: 100%;
}

.hover-icon {
  &:hover,
  &:focus {
    filter: drop-shadow(2px 4px 6px black);
    color: #e0713a;
  }
}

.bold {
  font-weight: 800;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.wrapperPage {
  width: 100%;
  height: 100%;
}

.tab-ct {
  // background:#B0A150;
  color: white !important;

  .MuiTab-textColorPrimary {
    color: white;
  }

  .Mui-selected {
    color: white !important;
  }

  .MuiTabs-indicator {
    background-color: white !important;
    height: 4px !important;
  }
}

.hamburger {
  display: none;
}

.main_color {
  background: #d1b58f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  color: white !important;
  font-size: 22px;
  border: 1px solid black;
  width: 90px;
  padding: 5px;
  background: #9b4830 !important;
  border-radius: 5px;

  &:hover {
    filter: opacity(0.5) !important;
  }
}

.login-btn {
  width: 200px;
}

.formControl {
  width: auto;
  margin: 10px 0;

  .MuiOutlinedInput-root {
    min-width: 200px !important;
  }
}

.buttongroup {
  .MuiButton-root {
    border-color: black !important;
    color: black !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.boxContainer {
  width: 100%;

  .submit-container {
    display: flex;
    justify-content: flex-end;

    .btn {
      font-size: 18px;
      border: 1px solid black;
      width: 90px;
    }
  }

  .foundRelated {
    text-align: right;
    box-sizing: border-box;
    padding-right: 10px;

    .wrapper {
      margin-top: 20px;
    }
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.qty-input .MuiInputBase-input {
  padding: 0 !important;
  height: 33px !important;
  text-align: center;
}

.MuiTabs-indicatorSpan {
  max-width: 40px;
  width: 100%;
  background: #be8543;
}

.box {
  padding: 20px;
}

.MuiInputBase-formControl {
  background: #b27b3c4a !important;
}

.dropdown-ct {
  transition: all 0.6s ease-in-out;
  width: 100%;
  top: 50px;
  height: auto;
  position: absolute;
  z-index: +333;

  .MuiList-padding {
    background: #000000;
    padding: 0 !important;
  }

  .MuiMenuItem-gutters {
    border-bottom: 1px solid white;

    &:hover {
      background: rgb(255, 255, 255);
      filter: brightness(0.7);
    }
  }
}

/* Iphones under 500px  */
@media only screen and (max-width: 920px) {
  .hamburger {
    display: block !important;
  }

  .about .backgroundtop {
    width: 100% !important;
    height: 176px !important;
    background-attachment: inherit !important;
  }

  .profile-column {
    top: -13% !important;
    left: 5%;
    font-size: 13px;

    .MuiAvatar-root {
      width: 100px;
      height: 100px;
    }
  }

  .frame-ct iframe {
    width: 95% !important;
    height: 600px !important;
  }

  .tab-ct {
    visibility: hidden;
  }
}

@media only screen and (min-width: 920px) {
  .dropdown-ct {
    display: none !important;
  }

  .hamburger {
    display: none !important;
  }
}
