body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo{
  width: 44px;
  height: 80%;
  border-radius: 10px;
  margin-right: 15px;
  cursor: grab;
}
.bold{
  font-weight: 800;
}

.center{
  text-align:center;
  margin: 0 auto;
}


.wrapperPage{
  width: 100%;
  height: 100%;
}
.tab-ct{
  // background:#B0A150;
  color:white!important;
  .MuiTab-textColorPrimary{
    color:white;
  }
  .Mui-selected {
    color:white!important;
    // background-color: rgba(149,135,62,.66) !important;
  }
  .MuiTabs-indicator{
    background-color:white!important;
    height:4px!important;
  }
}
.hamburger{
  display: none;
}

.main_color {
  background:#d1b58f;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn{
  color: white!important;

  font-size: 22px;
  border: 1px solid black;
  width: 90px;
  padding: 5px;
  background:#9B4830!important;
  &:hover {
    filter:opacity(.5)!important;
  }
  border-radius: 5px;
}
.login-btn{
  width:200px;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.formControl{
  width:auto;
  margin:10px 0;
  .MuiFormControl-root{
    // width:80%;
  }
  .MuiOutlinedInput-root {
    min-width:200px!important;
  }
}
.buttongroup{
 .MuiButton-root{ border-color:black!important; color:black!important;}
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.MuiOutlinedInput-root{
  color:black!important;
}

.boxContainer{
  width:100%;
  // display: flex;
  // flex-wrap:wrap;

  .submit-container{
    display: flex;
    justify-content: flex-end;

        .btn{
      // color: yellow;
      font-size: 18px;
      border: 1px solid black;
      width: 90px;
        }
      }

  .foundRelated{
    // width:0%;
    text-align: right;

    box-sizing: border-box;
    padding-right: 10px;
    .wrapper{
      margin-top:20px;
    }
  }

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.qty-input  .MuiInputBase-input {
  padding: 0!important;
  height: 33px!important;
  text-align: center;

}
 .MuiTabs-indicatorSpan {
  max-width: 40px;
  width: 100%;
  background: #BE8543;
}

.box{
  padding:20px;

}
.MuiInputBase-formControl{
  background: #b27b3c4a!important;
}




.dropdown-ct {

  width:100%;
  top:50px;
  height: auto;
    position: absolute;
    z-index: +333;
  .MuiList-padding{
    background: rgb(209 181 143);
    padding:0px!important;
  }
// .MuiPaper-root {
//   width:100%;
//   // background:rgb(196,141,82,77%)!important;
// }
  .MuiMenuItem-gutters{
    border-bottom: 1px solid white;
    &:hover{
      background: rgb(209 181 143);
      filter: brightness(0.7);
    }
   }

}


/* Iphones under 500px  */
@media only screen and (max-width: 920px) {
 .wrapper .MuiFormControl-root{
    // width: 90%!important;
  }
  .hamburger{
    display: block!important;
  }
  .about .backgroundtop{
    width:100%!important;
    height: 176px!important;
    background-attachment: inherit!important;
  }

  .profile-column{
    top: -13%!important;
    left: 5%;
    font-size: 13px;
    .MuiAvatar-root{
      width: 100px;
      height: 100px;
    }
  }

 .frame-ct iframe {
  width: 95%!important;
  height: 600px!important;
 }
.tab-ct{
  visibility: hidden;
}

.logo{
  width: 38px;
    height: 70%;
    border-radius: 10px;
    margin-right: 15px;
}
.logoName{
  display:none;
}


}
@media only screen and (min-width: 920px) {
  .dropdown-ct{
    display:none!important;

  }
  .hamburger{
    display: none!important;
  }
}