name: kuberspace-web-app

on: [pull_request]

jobs:
  buildnode:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '12.x'

    - name: echo out pwd
      run: echo `pwd`

    - name: ls
      run: echo `ls`

    - name: install modules
      run: npm install

    - name: build web app
      run: npm run build

    - name: run linter
      run: npm run linter

    - name: test the code
      run: npm test